body{
    font-family: 'Montserrat', sans-serif;
}

.caixa-contato {
    position: absolute;
    width: 940px;
    margin: 0 500px;
    /*margin-right: 0px;*/
}

.caixa-produtos {
    position: absolute;
    width: 940px;
    margin: 0 500px;
    /*margin-right: 0px;*/
}
.caixa-produtos nav{
    display: block;
}
.caixa-home {
    position: absolute;
    width: 940px;
    margin: 0 500px;
    /*margin-right: 0px;*/
}

.logo{
    border-radius: 100px;
    /*box-shadow: 10px 10px 10px #555555;*/
    position: relative;
    width: 200px;
    right: 400px;
    top: 0px;
}

nav{
    position: absolute;
    top: 50px;
    right: -359px;
    font-size: 20px;
    font-weight: bold;
}

.nav-produtos{
    position: absolute;
    top: 290px;
    right: 1191px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.nav-produtos-ul{
    margin: 10px;
}

.prod-img{
    position: relative;
    right: 415px;
    margin-top: 33px;
}

li{
    margin: 0 0 0 15px;
    display: inline;
}

a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
a:hover{
    color: darkkhaki;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    text-align: center;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: #c78c18;
}

.produtos li:active{
    border-color: green;
}

.produtos li:hover h2{
    font-size: 25px;
}

.produtos h2{
    font-size: 20px;
    font-weight: bold;
}

.produtos-descricao{
    font-size: 18px;
}

.produtos-preco{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url("img-curso-alura/bg.jpg");
    padding: 40px 0;
    color: black;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

.footer:hover{
    color: #c78c18;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    border:none;
    border-radius: 30px;
    background: orange;
    font-size: 18px;
    color: white;
    font-weight: bold;
    transition: 1.5s background;
    cursor: pointer;
}

.enviar:hover{
    background: green;
}

table{
    margin: 20px 0 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000 ;
    padding: 8px 15px;
}

/*css pagina inicial*/
.banner{
    width: 100%;
   /* background-color: rgba(10,23,55,0.5);*/
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    color: rgba(0, 0, 0, 0.3);
}

.principal{
    padding: 3em 0;
    background: #9e9c9c;
    margin: 0 auto;
    margin-top: -67px;
}

.principal p {
    margin:  0 0 1em;
    color: black;
    font-weight: bold;
}

.principal strong{
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utencilios{
    position: absolute;
    border-radius: 100px;
    width: 100px;
    float: left;
    margin: 0 20px 20px 0;  
    box-shadow: 10px 10px 10px #555555; 
    right: 869px;
    top: 812px;
}
.utencilios-corte{
    position: absolute;
    border-radius: 100px;
    width: 100px;
    float: left;
    margin: 0 20px 20px 0;  
    box-shadow: 10px 10px 10px #555555; 
    right: 1489px;
    top: 812px;
}

.utencilios-barbeiro{
    position: absolute;
    border-radius: 100px;
    width: 91px;
    float: left;
    margin: 0 20px 20px 0;  
    box-shadow: 10px 10px 10px #555555; 
    right: 257px;
    top: 812px;
}

.utencilios:hover{
    transition: 1.5s;
    transform: scale(1.1);
}

.container{
    position: relative;
    width: 100%;
    margin: auto;
}

.top-direira, .top-center, .top-esquerda{
    position: relative;
    text-align: center;
    display: inline-block;
    width: 30%;
    height: 219px;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 14px 18px;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 10px;
    background: bottom;
    top: 35px;
    
}

/*degradê com css  background: linear-gradient(cor01, cor02*/
.mapa{
    padding: 5em 0;
    background: #9e9c9c;
}

.mapa-conteudo{
    width: 940px;
    margin: 0 auto;   
}

.mapa p{
    text-align: center;
    margin: 0 0 2em;
}

.beneficios{
    padding: 3em 0;
    background: #9e9c9c;
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens{
    line-height: 1.5;
}

/* pseudo classes */
/* uso dos pseudos elemetos para modifica o primeiro elemento de uma lista */
/* selecionando um elemento especifico da lista ( itens:nth-child(*))     */
.itens:first-child {
    font-weight: bold;
}

/* aplicação css para colocar elementos em tegs html sem alterar o mesmo */ 
/* pseudo elementos */
.itens::before {
    content: "★";
}

.imagen-beneficios{
    width: 60%;
    opacity: 0.7;
    transition: 1.5s;
    box-shadow: 10px 10px 15px #000000;
}

.imagen-beneficios:hover{
    opacity: 1;
}

.video{
    width: 560px;
    margin: 2em auto;
    opacity: 0.7;
    transition: 1.5s;
}
.video:hover{
    opacity: 1;
}

/*seletores avançados para manipular ponto especificos do html
img ~ p{
    background: #c78c18;
}

.principal p:not(#missao){
    background: chartreuse;
}
*/



